@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

.day-hover {
    @apply hover:bg-gradient-to-br hover:text-white hover:cursor-pointer;
}
.day-active {
    @apply  bg-gradient-to-br text-white;
}

::-webkit-scrollbar {
    width: 0.6rem;
    background-color: #F0F5FF;
    border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
    background-color: #A3C2FF;
    border-radius: 0.5rem;
}